.landing-container {
  .company-name {
    font-weight: 600;
  }

  .company-description {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
    padding: 0 140px;
  }

  .actions {
    width: 300px;
  }

  .cars-preview {
    width: 100%;
  }
}
