.layout {
  .header {
    position: sticky;
    z-index: 100;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 40%);

    &__logo {
      width: 80px;

      * {
        font-size: 25px;
        line-height: 20px;
        text-shadow: 2px 2px 1px black;
      }
    }

    &__title {
    }

    &__navigation {
      margin-left: auto;
    }
  }

  .main-container {
    height: calc(100vh - 64px);

    .navigation {
      padding: 10px;
      min-width: 300px;

      ::ng-deep.mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .content {
    }
  }
}
