<div class="layout">
  <mat-toolbar class="header" color="primary" fxLayout="row ">
    <img class="header__logo" src="assets/pngwing.com.png" alt="Logo" />
    <h1 class="header__title">Boroff Rent</h1>
    <div class="header__navigation">
      <button *ngIf="!isLoggedIn" mat-raised-button (click)="login()">login</button>
      <button *ngIf="isLoggedIn" mat-raised-button (click)="logout()">logout</button>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="main-container">
    <mat-drawer class="navigation" mode="side" [opened]="!!authenticatedUser">
      <button mat-flat-button routerLink="/my-profile" routerLinkActive="active-nav-link">
        Учетная Запись
      </button>
      <button mat-flat-button routerLink="/my-orders" routerLinkActive="active-nav-link">
        Мои Заказы
      </button>
      <button mat-flat-button routerLink="/cars" routerLinkActive="active-nav-link">
        Сделать заказ
      </button>
    </mat-drawer>
    <mat-drawer-content class="content"><router-outlet></router-outlet></mat-drawer-content>
  </mat-drawer-container>
</div>
